
.cross1,
.cross2,
.cross3,
.cross4,
.cross5,
.cross6,
.cross7,
.cross8,
.cross9
{
  max-width: 50%;
  vertical-align: top;
  display: none;
  margin-top: 25px;
  margin-left: 25px ;
}

.nought1,
.nought2,
.nought3,
.nought4,
.nought5,
.nought6,
.nought7,
.nought8,
.nought9
{
  max-width: 40%;
  vertical-align: top;
  display: none;
  margin-top: 25px;
  margin-left: 25px ;
}


.gridContainer
{
  text-align: center
}

.grid
{
  display: inline-block;
  width: 350px;
}

.gridTop
{
  display: inline-block;
  width: 350px;
}
.gridMiddle
{
  display: inline-block;
  width: 350px;
  margin-top: -20px;
}

.gridBottom
{
  display: inline-block;
  width: 350px;
  margin-top: -20px;
}

.gridSpace1, .gridSpace2, .gridSpace3
{ 
  display: inline-block;
  width: 100px;
  height: 100px;

}

.gridSpace1:hover, .gridSpace2:hover, .gridSpace3:hover, .h_line1:hover, .h_line2:hover, .h_line3:hover, .h_line4:hover, .h_line5:hover, .h_line6:hover {
  background-color: yellow;

}

.h_line1, .h_line2, .h_line3, .h_line4, .h_line5, .h_line6  /*this is the horizontal lines that make up the grid:*/
{ 
  display: inline-block;
  width:100px; 
  height:100px;  
  border-bottom: 10px solid white;
}

h1 {
  color: white;

}

/*these are the vertial lines:*/
.v_line
{
  display: inline-block;
  border-left: 10px solid white ;
  margin: 0 auto;
  height: 100px;
}


body {
  background: black;
}
