
.gridContainer
{
  text-align: center
}

.grid
{
  display: inline-block;
  width: 350px;
}

.gridTop
{
  display: inline-block;
  width: 350px;
}
.gridMiddle
{
  display: inline-block;
  width: 350px;
  margin-top: -20px;
}

.gridBottom
{
  display: inline-block;
  width: 350px;
  margin-top: -20px;
}

.gridSpace1, .gridSpace2, .gridSpace3
{ 
  display: inline-block;
  width: 100px;
  height: 110px;
}

.h_line1, .h_line2, .h_line3, .h_line4, .h_line5, .h_line6  /*this is the horizontal lines that make up the grid:*/
{ 
  display: inline-block;
  width:100px; 
  height:100px;  
  border-bottom: 10px solid white;

}

h1 {
  color: white;
}

/*these are the vertial lines:*/
.v_line
{
  display: inline-block;
  border-left: 10px solid white ;
  margin: 0 auto;
  height: 100px;
}


body {
  background: blue;
}